<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIC SHOOPA</title>
    
</head>
<body>
    <img src="/images/album-image-1.jpeg">
    <img src="/images/album-image-2.jpeg">
    <img src="/images/album-image-3.jpeg">
    <img src="/images/album-image-4.jpeg">
    {{{ body }}}
</body>
</html>
