<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIC SHOOPA</title>
</head>
<body>
    <div>
        <header>
            {{#if logged_in}}
            <a href="/logout"></a> |
            <button class="no-button" id="logout">logout</button>
            {{else}}
            <a href="/login">login</a>
            {{/if}}
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            
        </footer>
    </div>
</body>
</html>
