<div class="cardA" style="width: 60rem; text-align: center; justify-content: center;">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <h1>WELCOME TO THE MUSIC SHOOPA</h1>
              <div>
                {{#if logged_in}}
                <a class="btn btn-primary" href="/searchresults">Enter</a>
                {{else}}
                <a class="btn btn-primary" href="/login">Enter</a>
                {{/if}}
              </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                
              </div>
              <div class="carousel-item">
                
              </div>
              <div class="carousel-item">
                
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          
        <div class="card-body"style=" text-align: center; justify-content: center;">
            <h1 style="background-color: gray; color: white;">ABOUT US</h1>
            <h3>Music lovers, you have come to the right place</h3>
          <p class="card-text"> 
            The Music Shoopa is the place you can search for a song, album or group and get the best music has to offer. 
            </p>
            <p> By searching our vast catalog, you will be able to see everything the group has to play and play some samples. </p>
            <p> Are you ready to ROCK?</p>
            <p>Create your favorites list.</p>
        </div>
        



      
    </div>