{{!--  html for homepage --}}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
          <div id="carouselExampleControls">
            <h1>WELCOME TO THE MUSIC SHOOPA</h1>
            <div>
              {{#if logged_in}}
              <a class="btn btn-primary" href="/searchresults">Enter</a>
              {{else}}
              <a class="btn btn-primary" href="/login">Enter</a>
              {{/if}}
            </div>
          </div>
    
          <div class="card-body"style=" text-align: center; justify-content: center;">
              <h1 style="background-color: gray; color: white;">ABOUT US</h1>
              <h3>Music lovers, you have come to the right place</h3>
            <p class="card-text"> 
              The Music Shoopa is the place you can search for a song, album or group and get the best music has to offer. 
              </p>
              <p> By searching our vast catalog, you will be able to see everything the group has to play and play some samples. </p>
              <p> Are you ready to ROCK?</p>
              <p>Create your favorites list.</p>
          </div>
      </div>
    </div>
  </div>
</div>